
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: left;
  right: 15px;
  border: 3px solid #f1f1f1;
}
.form-container > input{
  display: block;
  width: 150px;
  height: 2px;
  padding: 10px;
  margin: 5px;
}

.form-container > button{
  margin-top: 10px;
}
.form-container{
  margin-left: 20px;
}

#addNewBook{
  width: 100px;
}
input{
  display: block;
}
.card-body{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.card > .card-body{
  display: flex;
  flex-direction: column;
}
.delete{

  margin-top: 10px;
  
}
.update{

  margin-top: 10px;

}